<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css">

  <!-- favicon -->
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/pencil/pencil-152-168414.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/pencil/pencil-144-168414.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/pencil/pencil-120-168414.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/pencil/pencil-114-168414.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/pencil/pencil-72-168414.png">
  <link rel="apple-touch-icon-precomposed" href="/img/pencil/pencil-57-168414.png">
  <link rel="icon" href="/img/pencil/pencil-32-168414.png" sizes="32x32">
  <link rel="shortcut icon" href="/favicon.ico" />
</head>
